


@using MVCBlog.Areas.Admin.Models.Types;
@model MVCBlog.Areas.Admin.Models.DTO.KategoriVM


@using (Html.BeginForm())
{
    <div class="form-group">
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(x => x.kat_adi)
                @*KategoriVM de verdiğimiz display attribute si burada görünüyor.*@
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(x => x.kat_adi, new { @class = "form-control", @placeholder = "Adı" })
                @Html.ValidationMessageFor(x => x.kat_adi)
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(x => x.kat_aciklama)
                @*KategoriVM de verdiğimiz display attribute si burada görünüyor.*@
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(x => x.kat_aciklama, new { @class = "form-control", @placeholder = "Açıklama", @type = "TextArea" })
                @Html.ValidationMessageFor(x => x.kat_aciklama)
            </div>
        </div>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-theme">Kaydet</button>
    </div>
}



