@using MVCBlog.Areas.Admin.Models.Types;
@model MVCBlog.Areas.Admin.Models.DTO.BlogPostVM

@using (Html.BeginForm())
{
    <div class="form-group">
        <div class="row">
            <div class="col-md-1">
                <label>Başlık</label>
                @*KategoriVM de verdiğimiz display attribute si burada görünüyor.*@
            </div>
            <div class="col-md-4 ">
                @Html.TextBoxFor(x => x.blg_Baslik, new { @class = "form-control", @placeholder = "Başlık" })
                @Html.ValidationMessageFor(x => x.blg_Baslik)
            </div>
        </div>
    </div>

    
    <div class="form-group">
        <div class="row">
            <div class="col-md-1">
                <label>Kategori</label>
                @*KategoriVM de verdiğimiz display attribute si burada görünüyor.*@
            </div>
            <div class="col-md-3">
                

                @Html.DropDownList("kat_ID", Model.drpKategoriler, new { @class = "form-control", @placeholder = "Seçiniz" })
                @Html.ValidationMessageFor(x => x.drpKategoriler)
            </div>
        </div>
    </div>

    
    <div class="form-group">
        <div class="row">
            <div class="col-md-1">
                <label>İçerik</label>
                @*KategoriVM de verdiğimiz display attribute si burada görünüyor.*@
            </div>
            <div class="col-md-10">
                @Html.TextAreaFor(x => x.blg_Icerik, new { @class = "ckeditor form-control" })
                @Html.ValidationMessageFor(x => x.blg_Icerik)
            </div>
        </div>
    </div>




    <div class="row">
        <button type="submit" class="btn btn-theme">Kaydet</button>
    </div>
}




